name = "repojudge"
main = "worker/index.mjs"
compatibility_date = "2024-10-01"

kv_namespaces = [
  { binding = "SESSIONS", id = "ab2d2ccf4b4e4bcc84c60eac01556357" },
  { binding = "CACHE", id = "5fb813c713494da2b667f7e363c6fbac" }
]

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true
[observability.traces]
enabled = true
head_sampling_rate = 1
persist = true
